<!DOCTYPE html>
<html lang="en">

<head>
  <title>ICT Academy of Kerala</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/css/styleICT.css" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">ICT Academy of Kerala</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/aboutICT">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/servicesICT">Services</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <div class="p-3  bg-success text-white display-3">About ICT</div>
  <div class="container-fluid">
    <div class="row">

      <div class="col-md bg-light">

        <div class="container">
 
          <blockquote class="blockquote">
            <p>ICT Academy of Kerala is a Social Enterprise created in a Public Private Partnership model (PPP) for imparting ICT skills to the youths of Kerala and improve their employability opportunities in the Industry. The Company is supported by Govt. of India , partnered by Govt. of Kerala and the ICT industry.Information and Communication Technology Academy of Kerala (ICT Academy of Kerala) is a Not-for-profit Social Enterprise created in partnership with Government of India, Govt. of Kerala and established ICT Companies of the Country.

              The core objective of ICT Academy of Kerala is to improve employability skills amongst Students who are enrolled in Technical, Technology and Arts & Science Institutions across the state. It is achieved by imparting Industry relevant skills training in Technology and Life skills for Students from their beginning years of their graduation.</p>
            
          </blockquote>
        </div>
        
      </div>

    </div>
  </div>
</body>

</html>