<!DOCTYPE html>
<html lang="en">

<head>
  <title>ICT Academy of Kerala</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href=".../static/css/css/styleICT.css" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">ICT Academy of Kerala</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/aboutICT">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/servicesICT">Services</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        
          
          <p class="text-center font-weight-bold text-success h3 mb-4">Training Programs</p>
          

            <img class=" mx-auto d-block " width="100px"  src="../static/images/moodle.png"alt="moodle">
            <p class="text-center font-weight-bold text-warning h4">Moodle</p>
          

          

            <img class="mx-auto d-block"  width="100px" src="../static/images/dataScienceAndAnalytics.jpg"alt="ds">
            <p class="text-center font-weight-bold text-secondary h4 mb-4">Data Science and Analytics</p>
         

         

            <img class="mx-auto d-block" width="100px" src="../static/images/R.png" alt="r">
            <p class="text-center font-weight-bold text-info h4">R Programming</p>
          
        
    </div>
    <div class="col-xl">
      <h2 class="text-left"><b> Top Ten Event in Calicut</b></h2>
      <img src="../static/images/1148903_565909193472138_1856886400_n.jpg" align="center" alt="fb">

    </div>
    <div class="col">

        <p class="text-center font-weight-bold text-success h3 mb-4">Training Categories</p>     
      <img class=" mx-auto d-block" width="150px"  src="../static/images/facultyDevelopmentProgramme.jpg"alt="moodle">
      <p class="text-center font-weight-bold text-danger h4 mb-4">Faculty Development Program</p>
    

    

      <img class="mx-auto d-block"  width="150px" src="../static/images/itTraining.jpg"alt="ds">
      <p class="text-center font-weight-bold text-warning h4 mb-4">IT Training Program</p>
   

   

      <img class="mx-auto d-block" width="150px" src="../static/images/lifeSkillsTraining.jpg" alt="r">
      <p class="text-center font-weight-bold text-primary h4">Life Skills Training</p>
    </div>
  </div>
  </div>
</body>

</html>